<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onAddSignal()">
  <mat-form-field>
    <mat-label>Market</mat-label>
    <mat-select formControlName="market">
      <mat-option *ngFor="let market of indicatorMarkets" [value]="market">
        {{ market }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Indicator</mat-label>
    <mat-select formControlName="indicator">
      <mat-option *ngFor="let indicator of indicatorNames" [value]="indicator">
        {{ indicator }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Candle sizes</mat-label>
    <mat-select formControlName="candleSize">
      <mat-option
        *ngFor="let candleSize of indicatorCandleSizes"
        [value]="candleSize"
      >
        {{ candleSize }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <app-date-span-picker [group]="form.get('dateSpan')"></app-date-span-picker>

  <mat-form-field>
    <mat-label>Step</mat-label>
    <input matInput type="number" value="1" formControlName="step" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Color</mat-label>
    <input
      matInput
      formControlName="color"
      placeholder="Color"
      value="225,100,100"
    />
  </mat-form-field>
  <br />

  <app-complex-filter></app-complex-filter>

  <button mat-raised-button color="primary">
    Add indicator
  </button>
</form>
<mat-spinner *ngIf="loading"></mat-spinner>
