<form
  *ngIf="!loading"
  [formGroup]="addIndicatorForm"
  (ngSubmit)="onAddIndicator(addIndicatorForm.value)"
>
  <mat-form-field>
    <mat-label>Market</mat-label>
    <mat-select formControlName="market">
      <mat-option *ngFor="let market of indicatorMarkets" [value]="market">
        {{ market }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Indicator</mat-label>
    <mat-select formControlName="indicator">
      <mat-option *ngFor="let indicator of indicatorNames" [value]="indicator">
        {{ indicator }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Candle sizes</mat-label>
    <mat-select formControlName="candleSize">
      <mat-option
        *ngFor="let candleSize of indicatorCandleSizes"
        [value]="candleSize"
      >
        {{ candleSize }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <app-add-signal-form-common
    [group]="addIndicatorForm.get('common')"
  ></app-add-signal-form-common>
  <button mat-raised-button color="primary">
    Add indicator
  </button>
</form>
<mat-spinner *ngIf="loading"></mat-spinner>
