<form [formGroup]="dateSpanForm">
  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input
      matInput
      formControlName="startDate"
      [matDatepicker]="startDatePicker"
      [(ngModel)]="start"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End date</mat-label>
    <input
      matInput
      formControlName="endDate"
      [matDatepicker]="endDatePicker"
      [(ngModel)]="end"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</form>
