<form [formGroup]="group">
  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput formControlName="start" [matDatepicker]="startDatePicker" />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>End date</mat-label>
    <input matInput formControlName="end" [matDatepicker]="endDatePicker" />
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</form>
