<form
  *ngIf="!loading"
  [formGroup]="addTickerForm"
  (ngSubmit)="onAddTicker(addTickerForm.value)"
>
  <mat-form-field>
    <mat-label>Market</mat-label>
    <mat-select formControlName="market">
      <mat-option *ngFor="let market of tickerMarkets" [value]="market">
        {{ market }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <app-add-signal-form-common
    [filterTypes]="filterTypes"
    [group]="addTickerForm.get('common')"
  ></app-add-signal-form-common>
  <button mat-raised-button color="primary">Add ticker</button>
</form>
<mat-spinner *ngIf="loading"></mat-spinner>
